/* .App {
  text-align: center;
} */

.headline {
  width: 30rem;
  margin: 2rem auto;
  text-align: left;

  padding: 0 1rem;
}
.container {
  width: 30rem;
  margin: 2rem auto;
  text-align: left;
  background-color: lightcyan;
  padding: 1rem;
}
.containerRows {
  /* width: 30rem; */
  margin: 0.4rem auto;
  text-align: left;
  background-color: rgba(254, 254, 254, 0.7);
  padding: 1rem;
}
.alertContainer {
  background-color: lightcoral;
  width: 30rem;
  margin: 0.4rem auto;
  padding: 0.5rem 1rem;
}
.inlineContainer {
  display: flex;
  justify-content: space-around;
}

.inline {
  display: inline;
  margin-right: 0.5rem;
}
.clicker {
  margin-left: 1rem;
}
